html, body{
    padding: 0px;
    margin: 0px;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    padding: 10px;
}

/* Custom Color Pallet */

/* Orange */
.custom-orange{
    background-color: #fca311;
}

/* Dark Blue */
.custom-dark-blue{
    background-color: #14213d;
}

/* White */
.custom-white{
    background-color: #e5e5e5;
}
